; Machine-local SlimD configuration.
; You can specify project default configuration,
; or tool paths here.

; Default compiler.
;compiler=dmd

; Default linker.
;linker=optlink

; Default build flags.
;dflags=-betterC -release

; Library search paths, e.g. if you want to link against Phobos.
;libPath.omf.phobos = C:\dmd2\windows\lib
;libPath.coff32.phobos = C:\dmd2\windows\lib32mscoff
;libPath.coff64.phobos = C:\dmd2\windows\lib64

; You can specify full paths to tools here,
; in case they are not in your system PATH.

; DigitalMars D compiler
[tools.dmd]
;path=C:\dmd2\windows\bin\
;command=dmd

; LLVM D compiler
[tools.ldc]
;path=C:\ldc2\bin;C:\mingw32-dw2\bin;C:\mingw32-dw2\i686-w64-mingw32\bin;C:\mingw32-dw2\libexec\gcc\i686-w64-mingw32\4.8.0
;command=ldc2

; UniLink
[tools.unilink]
;path=C:\UniLink\
;command=ulink

; Microsoft Linker
[tools.mslink]
;path=C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\bin\
;command=link

; Crinkler
[tools.crinkler]
;path=C:\Crinkler\
;command=crinkler

; GoLink (not to be confused with Google's programming language)
[tools.golink]
;path=C:\GoDev\
;command=GoLink

; Open Watcom
[tools.watcom]
;path=C:\WATCOM\
;command=wlink

; Gnu Compiler Collection
[tools.gcc]
;path=C:\Soft\mingw32-dw2\bin\
;command=gcc

; D demangler, for the --demangle option
[tools.ddemangle]
;command=ddemangle
